langchain
langchain-community
langchain-core
langchain-litellm
langchain-openai
langchain-anthropic
python-dotenv
pydantic
llama-index
llama-index-core
openai
asyncpg
aiohttp
psycopg2-binary
scikit-learn
numpy
